.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: B9E5E8;
  text-align: center;
  color: white;
}
/* App.css */

body {
  background-image: url('C:\Users\Mithra Y\Desktop\employee_react\ems-frontend\src\image.png'); /* Replace with the correct path */
  background-size: cover;        /* Cover the entire viewport */
  background-repeat: no-repeat;  /* Prevent tiling */
  background-attachment: fixed;  /* Keep the background fixed while scrolling */
  background-position: center;   /* Center the background image */
  margin: 0;                     /* Remove any default margin */
  font-family: Arial, sans-serif; /* Optional: set a universal font */
}
